

h1{
  color: white;
  font-size: 2;
}
h2{
  color: white;
  font-family: fantasy;
}
h3{
  color: white;
  text-align: center;
}
img{
  float : right;
}
p{
  color: white;
}
ul{
  color: black;
}
.projects {
  background-color: coral;
}
.background {
  background-color: grey;
}
body{
  background-color: steelblue;
  font-family: sans-serif;
}
